* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


/* Utility library classes */

.container {
  width: 1400px;
  max-width: 1400px;
  padding: 1em 2em;
}

.btn {
  border: none;
  outline: none;
  padding: 1em 2em;
  cursor: pointer;
  border-radius: 6px;
  transition: .3s all ease-in-out;
}

.btn-fill {
  background-color: #6100ff;
  color: #fff;
  font-weight: bold;
}

.btn-fill:hover {
  background-color: #6610f1;
}

.btn-outline {
  background-color: #ffffff;
  color: #6100ff;
  border: 1px solid #6100ff;
  font-weight: bold;
}

.btn-outline:hover {
  background-color: #6610f1;
  border: 1px solid #6610f1;
  color: #fff;
}